body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.7s ease;
}

header {
    background-color: #082465;
    color: #fff;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

main {
    margin-top: 121px;
    padding: 20px;
}

input[type="text"] {
    padding: 9px;
    font-size: 14px;
}

button {
    padding: 8px;
    font-size: 13px;
    cursor: pointer;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}
    